h1{color: #6c037f;
}
.c28{
    color: black;
    background: #c4e538;
}
th{
    color: black;
    background: yellow;
}
.col12{
    color: black;
    background: #ffcccc;
}
.c27{
    background: #d15669;
}
.c26{
    background: #2ed473;
}
.col11{
    background: #c4e538;
}
.col3{
    background: #d15669;
}
.cl14{
    background: #6c037f;
}
.cl15{
    background: #ffcccc;
}
.cl16{background: #2ed473;

}
.cl17{
    background: gray;
}
.cl18{
    background: gold;
}
.cl61{
    background: #2ed473;
}
.cl60{
    background: #6c037f;
}
.cl59{background: #c4e538;}
.cl58{
    background: #d15669;
}
.cl57{
    background: #ffcccc;
}
.cl56{
    background:gold;
}
.cl50{
    background: navajowhite;
}
.ee{
    color: #6c037f;
    background: #d2d2d2;

}
.ff{
    color: #c4e538;
}
.foter{
    font-size: 40px;
    text-align: center;
    color: white;
    background: #2ed473;
}

